<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SubjectMapper">

	<resultMap id="SubjectResult" type="Subject">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="parentId" column="parent_id"/>
	</resultMap>


	<sql id="subject_columns">
		subject.id,
		subject.name,
		subject.parent_id
	</sql>

	<sql id="subject_properties">
		#{id},
		#{name},
		#{parentId}
	</sql>
	
	<!-- 添加专业 -->
	<insert id="createSubject" parameterType="Subject" keyColumn="id"
		keyProperty="id" useGeneratedKeys="true">
		insert into subject (<include refid="subject_columns" />)
		values (<include refid="subject_properties" />)
	</insert>
	
	<!-- 删除专业 -->
	<delete id="deleteSubjectById" parameterType="String">
		delete from subject
		where
		id in(${value}) or parent_id in(${value})
	</delete>
	
	<!-- 修改专业 -->
	<update id="updateSubject" parameterType="Subject">
		update
		subject set
		name = #{name}
		where
		id =#{id}
	</update>
	<!-- 修改父级专业 -->
	<update id="updateSubjectParent" parameterType="Subject">
		update
		subject set
		parent_id = #{parentId}
		where
		id =#{id}
	</update>
	
	<!-- 根据条件查询专业列表 -->
	<select id="getSubjectList" parameterType="Subject" resultMap="SubjectResult">
		select <include refid="subject_columns"/>
		from subject
	</select>
</mapper>